@font-face {
  font-family: montserratFont;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: montserratFont;
  font-size: 30px;
}

:host {
  display: block;
  margin: 0;
  padding: 0;
}


.square1 {
  background-color: #593391;
  color: white;
  width: 100vw;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

h1 {
  text-align: center;
}
