@font-face {
  font-family: montserratFont;
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: bold;
}

* {
  font-family: montserratFont;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  margin-top: 30px;
  display: flex;
  background-color: #FFE100;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.dot {
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: auto auto 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 20px;
  text-align: start;
  color: white;
  margin-bottom: 10px;
}

input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

button {
  background-color: #f5f5f5;
  color: #FFE100;
  border: none;
  padding: 10px;
  width: 325px;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #593391;
  color: #ffffff;
  cursor: pointer;
}

input[type="text"], input[type = "password"] {
  color: rgba(0, 0, 0, 0.65);
  padding: 10px 0;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  margin-right: 100px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  resize: none;
  scrollbar-width: none;
}

#error {
  color: red;
  font-size: 15px;
}

