<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="registration-window.component.css">
  <title>Login Page</title>
</head>
<body>

<div class="square2">
  <form>
    <p id="reg_text">Registration</p>
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <label for="password">Password</label>
    <input type="text" id="password" name="password">
    <label for="repeated_password">Repeat Password</label>
    <input type="text" id="repeated_password" name="repeated_password">
    <input id="sign_up_button" type="submit" value="Sign up"><br>
  </form>
</div>
</body>
</html>
