<div class="square2">
  <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
    <p id="reg_text">Registration</p>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" [(ngModel)]="info.email" required>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="info.username" required>
    <label for="password">Password</label>
    <input type="text" id="password" name="password" [(ngModel)]="info.password" required>
    <label for="repeated_password">Repeat Password</label>
    <input type="text" id="repeated_password" name="repeated_password" [(ngModel)]="info.repeated_password" required>
    <input type="submit" id="sign_up_button" value="Sign up" [disabled]="!registrationForm.valid"><br>
  </form>
</div>
