@font-face {
  font-family: montserratFont;
  src: url(../../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: montserratFont;
}

.container {
  background-color: #ffd700;
  padding: 30px;
  max-width: 350px;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-content: center;
}

#form {
  width: 350px;
  display: flex;
  flex-direction: column;
}

form > * {
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 10px;
}

#reg_text {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

input[type="text"], input[type="password"] {
  color: black;
  margin-top: 5px;
  box-sizing: border-box;
  padding-left: 10px;
  height: 35px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  background-color: #ffffff;
  color: #FFE100;
  border: none;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form label {
  color: #ffffff;
}

form a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

#sing_up_text {
  color: #ffffff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #593391;
  color: #ffffff;
  cursor: pointer;
}

#login_button:hover {
  background-color: #593391;
  color: #ffffff;
  cursor: pointer;
}

#password_invalid, #email_invalid, #repeat_invalid {
  color: darkred;
  font-size: small;
}

