@font-face {
  font-family: montserratFont;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: montserratFont;
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#header{
  font-weight: bold;
}

#row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#row > * {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}
