@font-face {
  font-family: montserratFont;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: montserratFont;
}

#main {
  display: flex;
  flex-direction: column;
}

#header{
  font-weight: bold;
}

#row {
  display: flex;
  flex-wrap: wrap;
}

#row > * {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 20px;
}
