<div class="rectangle">
  <input type="text" id="question-name" name="question-name" placeholder="Question" required>

  <button id="bin">
    <img src="bin.svg" alt="bin" width="25px">
  </button>

  <select id="type">
    <option value="single_choice" ngValue="1">Single Choice</option>
    <option value="multiple_choice" ngValue="2">Multiple Choice</option>
    <option value="free_answer" ngValue="3">Free Answer</option>
  </select>

  <label for="obligatory">Obligatory</label>
  <input type="checkbox" name="obligatory" id="obligatory" value="obligatory"/>

</div>
