@font-face {
  font-family: montserratFont;
  src: url(../../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: montserratFont;
}

.rectangle {
  position: absolute;
  top: 130px;
  left: 55px;
  width: 440px;
  height: 700px;
  background-color: #FFE100;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px;
  color: white;
}

nav ul {
  height: 537px;
  width: 100%;
  padding: 0;
}

nav ul {
  overflow-y: scroll;
  scrollbar-width: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
  top: 600px;
}

.button {
  margin: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
