@font-face {
  font-family: montserratFont;
  src: url(../../../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: montserratFont;
}

.test {
  display: flex;
  flex-direction: row;
  margin-top: 11px;
  border-radius: 10px;
}

.name, .code {
  color: #FFE100;
}

.name {
  font-size: 18px;
}

.code {
  font-size: 12px;
  margin-top: 10px;
}

#info {
  display: inline-block;
  text-align: start;
}

#copyButton {
  background-color: transparent;
  border: none;
}

#copyButton:hover{
  cursor: pointer;
}

#testSelect {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  margin-right: 5px;
  width: 100%;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#testSelect:hover {
  background-color: #593391;
  .name, .code {
    color: #ffffff;
  }
}

@media (max-width: 500px) {
  * {
    overflow: hidden;
    position: static;
  }

  .test{
    min-width: 300px;
  }
}

