@font-face {
  font-family: montserratFont;
  src: url(../../../fonts/Montserrat-Medium.ttf);
  font-weight: bold;
}

* {
  font-family: montserratFont;
}

.test {
  width: 390px;
  height: 55px;
  margin-top: 11px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.name, .code {
  color: #FFE100;
}

button {
  display: flex;
  horiz-align: left;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

button:hover {
  background-color: #593391;
  .name, .code {
    color: #ffffff;
  }
}

