.dot {
  height: 70px;
  width: 70px;
  position: absolute;
  top: 155px;
  right: 20px;
  background-color: #FFE100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: inline-block;
}
