<div class="square2">
  <form #loginForm="ngForm">
    <p id="login_text">Login</p>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" [(ngModel)]="data.email" required>
    <label for="password">Password</label>
    <input type="text" id="password" name="password" [(ngModel)]="data.password" required>
    <input type="submit" id="login_button" value="Login" (click)="data_check()" [disabled]="!loginForm.valid"><br>
    <label id="or">Or</label>
    <input type="submit" value="login via google">
    <p id="sing_up_text" (click)="navigateToRegistration()">Do not have an account yet?<a>Sign up</a></p>
  </form>
</div>
