<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="log-in.component.css">
  <title>Login Page</title>
</head>
<body>

<div class="square2">
  <form>
    <p id="login_text">Login</p>
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
    <label for="password">Password</label>
    <input type="text" id="password" name="password">
    <input id="login_button" type="submit" value="Login"><br>
    <label id="or">Or</label>
    <input type="submit" value="login via google">
    <p id="sing_up_text">Do not have an account yet? <a href="?????????????????">Sign up</a></p>
  </form>
</div>
</body>
</html>
