<div id="main">
  <div id="filler"></div>

  <div id="rectangle">
    <input
      type="text"
      name="test-name"
      maxlength="255"
      placeholder="{{ test.name }}"
      [(ngModel)]="test.name"
    >

    <textarea
      rows="4"
      cols="50"
      maxlength="255"
      placeholder="{{ test.description }}"
      [(ngModel)]="test.description"
    ></textarea>

    @if(maxNumberOfQuestionsError) {
      <br> <label class="maxNumberError"> {{ maxNumberOfQuestionsError }} </label>
    }
  </div>

  <button (click)="onAddQuestion()" id="buttonAdd">
    <img src="button1.svg">
  </button>
</div>
