<div id="rectangle">
    <input
      type="text"
      name="test-name"
      maxlength="255"
      placeholder="{{ test.name }}"
      [(ngModel)]="test.name"
    >

    <textarea
      rows="4"
      cols="50"
      maxlength="255"
      placeholder="{{ test.description }}"
      [(ngModel)]="test.description"
    ></textarea>

    @if(maxNumberOfQuestionsError) {
      <br> <label class="maxNumberError"> {{ maxNumberOfQuestionsError }} </label>
    }
    <input type="submit" id="start" value="Add question" (click)="onAddQuestion()">
  </div>


