@font-face {
  font-family: montserratFont;
  src: url(../../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: montserratFont;
}

#rectangle {
  width: 800px;
  background-color: #FFE100;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
}

h1, h3 {
  color: white;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: Montserrat, sans-serif;
}

h3 {
  margin-top: 15px;
}

input[type="text"], textarea {
  color: rgba(0, 0, 0, 0.65);
  width: 780px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 100px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  resize: none;
  scrollbar-width: none;
}

#buttonAdd {
  border: none;
  cursor: pointer;
  background: none;
}

.maxNumberError {
  color: red;
}

input[type="submit"] {
  background-color: #ffffff;
  color: #FFE100;
  border: none;
  height: 30px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
  background-color: #593391;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 500px) {
  * {
    overflow: hidden;
    position: static;
  }

  #rectangle {
    width: 300px;
  }

  input[type="text"], textarea {
    width: 280px;
  }
}


