<div id="question">
  <label>{{ question.name }}</label><br>

  @if (question.type == 0) {
    @for (option of question.options; track option.name) {
      <input type="radio"
             [name]="'radio-' + question.id"
             [value]="option.id"
             [checked]="selectedRadio === option.id"
             (change)="onRadioSelect(option.id)">
      <label>{{ option.name }}</label>
      <br>
    }
  }

  @if (question.type == 1) {
    @for (option of question.options; track option.name) {
      <input type="checkbox"
             [name]="'checkbox-' + question.id"
             [value]="option.id"
             (change)="onCheckedOption(option.id, $event)">
      <label>{{ option.name }}</label>
      <br>
    }
  }

  @if (question.type == 2) {
    <input type="text"
           name="text"
           id="answer_text"
           [(ngModel)]="free_answer"
           (input)="onFreeAnswerChange()">
  }
</div>
