@font-face {
  font-family: montserratFont;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: montserratFont;
}

button {
  background-color: #FFE100;
  color: #ffffff;
  border: none;
  width: 150px;
  height: 30px;
  margin: 20px 0;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #593391;
  color: #ffffff;
  cursor: pointer;
}

#overallMark {
  margin: 20px 0;
  color: #FFE100;
  font-size: 30px;
}

#obligatoryCheck {
  color: red;
  margin-bottom: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
