<div id="container">
  <app-top-header></app-top-header>
  <app-test-head></app-test-head>
  <div id="questions">
    @for (question of test.questions; track question.id) {
      <app-test-question [question]="question" [saveTrigger]="saveTrigger"></app-test-question>
    }
  </div>

  <label id="overallMark" *ngIf="finished">{{overallMark}}</label>
  <button id="saveResults" *ngIf="!finished" (click)="onSave()">Save results</button>
  <label id="obligatoryCheck" *ngIf="!checked">{{obligatory_message}}</label>
</div>

