@font-face {
  font-family: montserratFont;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: montserratFont;
}

input[type="submit"] {
  background-color: #ffffff;
  color: #FFE100;
  border: none;
  width: 150px;
  height: 30px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
  background-color: #593391;
  color: #ffffff;
  cursor: pointer;
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  height: 100vh;
}

input[type=submit] {
  margin-left: 10px;
  margin-right: 10px;
}

#buttons-pair {
  margin-top: 20px;
}

#header {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin: 10px;
}
