@font-face {
  font-family: montserratFont;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: montserratFont;
}

input[type="submit"] {
  background-color: #ffffff;
  color: #FFE100;
  border: none;
  width: 150px;
  height: 30px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  left: 50vh;
}

input[type="submit"]:hover {
  background-color: #593391;
  color: #ffffff;
  cursor: pointer;
}

#buttons-pair {
  position: absolute;
  top: 28vh;
  left: 52vw;

}

input[type=submit] {
  margin-left: 10px;
  margin-right: 10px;
}
